.authorizationForm {
  position: fixed;
  visibility: hidden;
  top: 50%;
  left: 50%;
  width: 450px;
  z-index: 666;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-perspective: 666px;
	-moz-perspective: 666px;
	perspective: 666px;
}
.authorizationForm .authorizationForm__content {
  padding: 30px;
  border-radius: 10px;
  background-color: var(--autorization-bgc);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: rotateX(-120deg);
	-moz-transform: rotateX(-120deg);
	-ms-transform: rotateX(-120deg);
	transform: rotateX(-120deg);
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
	opacity: 0;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
  -webkit-box-shadow: 0px 6px 12px 6px var(--autorization-shadow-color);
  -moz-box-shadow: 0px 6px 12px 6px var(--autorization-shadow-color);
  box-shadow: 0px 6px 12px 6px var(--autorization-shadow-color);
}
.authorizationForm.active {
  visibility: visible;
}
.authorizationForm.active .authorizationForm__content {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
}
.authorizationForm__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.authorizationForm__inputs-container {
  width: 100%;
}
.authorizationForm__title {
  margin: 20px 0;
  font-size: 32px;
}
.input-item {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  border-bottom: 2px solid var(--autorization-border-color);
  position: relative;
}
.input-item::after {
  color: red;
  content: attr(data-after);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -22px;
  width: max-content;
  font-size: 14px;
}
.input-item:not(:last-child) {
  margin: 0 0 15px 0;
}
.input__label {
  font-size: 16px;
  line-height: 24px;
}
.input__input {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  padding: 0 0 0 40px;
}
.input__input::placeholder {
  font-weight: 400;
  color: var(--autorization-border-color-2);
}
.input__icon {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  padding: 12px;
  box-sizing: border-box;
}
.authorizationForm__button {
  background: transparent;
  cursor: pointer;
  transition: all 0.2s;
}
.button-signin,
.button-signup {
  height: 45px;
  margin: 35px 0 20px 0;
  width: 100%;
  font-size: 18px;
  border: 2px solid var(--autorization-border-color-2);
  border-radius: 20px;
}
.button-signin:disabled,
.button-signup:disabled {
  border: 2px solid var(--autorization-border-color);
}
.button-signin:not(:disabled):hover,
.button-signup:not(:disabled):hover {
  border: 2px solid var(--autorization-border-color);
  color: var(--autorization-bgc);
  background-color: var(--autorization-border-color);
}
.button-signin:active,
.button-signup:active {
  transform: scale(1.03);
}
.authorizationForm__closeButton {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 30px;
  top: 30px;
}
.authorizationForm__closeButton:hover {
  transform: scale(1.2);
}
.button-changeComponent {
  border: none;
  height: min-content;
  width: max-content;
  text-decoration: underline;
}
.button-changeComponent:hover {
  color: var(--autorization-border-color-2);
}
.authorizationForm__subtitle {
  font-size: 15px;
  margin: 0;
}
