.e-book {
  min-height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.book-text {
  margin: 30px 40px;
}
.ebook-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.levels {
  margin: auto;
  width: 720px;
  gap: 30px 40px;
}
.choose-level {
  color: var(--color-hard);
}
.level-cont,
.hard-word-cont {
  cursor: pointer;
  padding: 5px;
  height: 50px;
  width: 210px;
  border: var(--main-border);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: scale(1);
}
.ebook-hard-cont {
  width: 830px;
}
.hard-word-cont {
  display: flex;
  width: 300px;
  padding-left: 40px;
  font-size: 1.2rem;
}
.level-cont:hover,
.hard-word-cont:hover,
.to-sprint:hover,
.to-chalenge:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}
.lev-text{
  font-weight: 600;
  margin: 0;
  width: 150px;
}
.lev-desig {
  text-align: center;
  font-weight: 600;
  width: 45px;
  background-color: var(--main-color);
  border-radius: 50%;
  font-size: 1.7rem;
}
.lev-desig.hard{
  background-color: var(--color-hard);
}
.lev-desig.red{
  background-color: var(--color-a2);
}
.lev-desig.purple{
  background-color: var(--color-b1);
}
.lev-desig.deep-blue{
  background-color: var(--color-b2);
}
.lev-desig.green{
  background-color: var(--color-c1);
}
.lev-desig.blue{
  background-color: var(--color-c2);
}
.games-nav-cont {
  display: flex;
  justify-content: space-around;
}
.games-nav{
  margin-top: 30px;
  gap: 30px 40px;
}
.to-sprint,
.to-chalenge{
  margin: 10px;
  display: flex;
  width: 450px;
  justify-content: space-between;
  align-items: center;
  border: var(--main-border);
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}
.to-sprint img,
.to-chalenge img {
  margin: 10px;
  width: 120px;
  height: 80px;
}
.sprint-descript {
  margin: 5px 10px;
}
.selected-level {
  background-color: rgba(255, 193, 7, 0.8);
}
.page-learnt {
  background-image: url(../assets/eBookPage/background3.png);
  background-repeat: repeat;
  background-size: 700px;
}
.disable-game-buttons{
  opacity: 0.65;
  cursor: not-allowed;
  background-color: var(--autorization-border-color);
  border-color: var(--autorization-border-color);
}
.disable-game-buttons:hover{
  transform: none;
}
.to-sprint.disable-game-buttons:hover .sprint-descript::after,
.to-chalenge.disable-game-buttons:hover .sprint-descript::after {
  content: 'На данной странице игра недоступна';
  position: absolute;
  width: 50%;
  top: 30%;
  left: 25%;
  color: var(--text-color);
  background-color: var(--main-color);
  padding: 3px 10px;
  border: var(--main-border);
  border-radius: 5px;
  text-align: center;
}

@media (max-width: 860px) {
  .ebook-hard-cont{
    width: 700px;
  }
  .ebook-container{
    align-items: center;
  }
}
@media (max-width: 790px) {
  .levels{
    width: 480px;
  }
  .ebook-hard-cont{
    width: 400px;
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .lev-text{
    font-size: 1rem;
  }
  .levels{
    width: 350px;
    gap: 30px 20px;
  }
  .level-cont {
    width: 155px;
  }
  .lev-desig{
    width: 40px;
    height: 35px;
    font-size: 1.3rem;
  }
  .to-sprint,
  .to-chalenge{
    width: 350px;
  }
  .lev-text{
    font-weight: 600;
    margin: 0;
    width: 120px;
  }
}
@media (max-width: 405px) {
  .ebook-hard-cont{
    width: 350px;
  }
  .choose-level{
    font-size: 1rem;
  }
}
@media (max-width: 370px) {
  .level-cont {
    width: 130px;
  }
  .lev-desig{
    font-size: 1.3rem;
  }
  .to-sprint,
  .to-chalenge{
    width: 350px;
  }
  .levels{
    width: 340px;
    gap: 30px 20px;
  }
  .lev-text{
    font-weight: 600;
    margin: 0;
    width: 120px;
  }
}
