* {
  box-sizing: border-box;
}

.statistics-section {
  min-height: 86vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-image: url('../assets/line.svg'), url('../assets/statistics-page/stats-1.png'),
    url('../assets/statistics-page/stats-2.png');
  background-repeat: no-repeat;
  background-position: 0 3vh, right -60px top -90px, left -40px bottom -100px;
  background-size: contain, 400px, 350px;
}

.statistics-wrapper {
  max-width: 1850px;
  margin: 0 auto;
}

.nav-tabs .nav-link {
  background-color: var(--main-color);
  border-top-right-radius: 5px;
  color: var(--text-color);
  border-right: 0.5px solid #ffffff;
}

.nav-tabs {
  border-bottom: none;
  font-size: 1.1rem;
}

.tab-content {
  border: 1px solid var(--main-color);
  border-radius: 5px;
  box-shadow: var(--main-box-shadow);
  background-color: rgba(255, 193, 5, 0.2);
}

.tab-pane {
  display: flex;
}

.statistics-card-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px 50px;
  font-size: 1.2rem;
}

.words-stats,
.pie-stats,
.words-stats-sprint,
.pie-stats-sprint,
.words-stats-audio,
.pie-stats-audio {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.new-words-amount,
.learnt-words-amount {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: var(--color-b2);
}

.learnt-words-amount {
  background-color: var(--color-b1);
}

.learnt-words,
.new-words {
  line-height: 30px;
}

.nav-tabs .nav-link.active {
  background-color: rgba(255, 193, 5, 0.2);
  border: var(--main-border);
}
